@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
html{
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

h2{
  color:#FFF;
  font-size: 3.5em;
  font-weight: 100;
  text-align: center;
}

.center{
  text-align: center;
}

#filtre{
  display: block;
  position: absolute;
  width: 120%;
  height: 120%;
  opacity: 0.7;
  background-color: black;
  z-index: 1;
  top: -10%;
  left:-10%;
}

#header{
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 30%;
  background: url('../img/header.jpg') center center;
}

.contentMenu{
  position: relative;
  height: 100%;
  width: 15%;
  display: inline-block;
}

.btnMenu{
  opacity: 0;
  display: block;
  width:0;
  background: #6EFACB;
  font-size: 18px;
  border: none;
  font-weight: 600;
  outline: none;
  height: 14%;
  cursor: pointer;
}
.material-icons{
  float: left;
  font-size: 50px;
  margin-left: 2%;
}
.pMenu{
  font-size: 1.0em;
  font-weight: 300;
  display: initial;
  margin-top: 1px;
}
#btnMenu1:hover, #btnMenu2:hover, #btnMenu3:hover, #btnMenu4:hover, #btnMenu5:hover {
  background: yellow;
  transition: background-color 0.3s ease;
}

.content{
  width: 85%;
  height: 70%;
  display:block;
  float:right;
}
.content h2{
  color : black;
}
.contentDon{
  width: 85%;
  height: 70%;
  display:none;
  float:right;
}
.contentMap{
  width: 85%;
  height: 70%;
  display:none;
  float:right;
}
.contentSeriousGame{
  width: 85%;
  height: 70%;
  display:none;
  float:right;
}

#descContent{
  width:70%;
  margin-left:15%;
}
#descContent p{
  text-align: justify;
}

.inputLogin{
    margin: 0 auto;
    display: block;
    width: 250px;
    height: 50px;
    font-size: 20px;
    background: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    outline: none;
}
.inputLogin:focus {
    border-color: #6EFACB;
}
.btnValid{
  margin-top: 2%;
  margin-bottom: 2%;
}
.btnValid:hover{
  background: #6EFACB;
  color:black;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

::-webkit-input-placeholder {
    color:rgba(255, 255, 255, 0.5);
    text-align: center;
}

#popUpLogin1{
  display: block;
  position: relative;
  top: 27.5%;
  left: 30%;
  width: 30%;
  height: 30%;
  padding:5%;
  background: black;
  border-radius: 5px;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
#popUpLogin2{
  display: block;
  position: relative;
  top: 27.5%;
  left: 30%;
  width: 30%;
  height: 30%;
  padding:5%;
  background: black;
  border-radius: 5px;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.contentLogin{
  transform : scale(0.5);
  display: none;
  position: absolute;
  height : 100%;
  width : 100%;
  z-index: 2;
  top : 0;
}

.txtPopUp{
  color: white;
  cursor: pointer;
}
.txtPopUp:hover{
  color:yellow;
  transition: color 0.3s ease;
}
